# Compilados Java
*.class

# Diretório de build
/out/
/build/

# Arquivos do IntelliJ IDEA
.idea/
*.iml

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações do Eclipse/NetBeans (se algum dia usar)
*.prefs
*.classpath
*.project
nbproject/

# Arquivos temporários
*.tmp
*.swp

# Arquivos de ambiente (como variáveis locais)
.env

